# COMP 551 AML Assignment 3
### Ran Cheng, 260768706

In [24]:
import pandas as pd

filename = './Data/IMDB-train.txt'

data = pd.read_csv(filename, sep='\t', header=None)
data[1:7][:]

                                                   0  1
1  Bizarre horror movie filled with famous faces ...  1
2  A solid, if unremarkable film. Matthau, as Ein...  1
3  It's a strange feeling to sit alone in a theat...  1
4  You probably all already know this by now, but...  1
5  I saw the movie with two grown children. Altho...  1
6  You're using the IMDb.<br /><br />You've given...  1